$width: 250px;
/* Working with fade-out */
$lagoon-blue: fade-out(#62fdca, 0.5);

/*  Working with fade-in */
$test-color: fade-in(#24fdcb, 0.8);

/* Colors property */
$color: red + blue;

/*  list and @each loop */
$list: (orange, purple, teal);

@each $item in $list {
	.#{$item} {
		background: $item;
	}
}

/*  Building a rainbow */
$total: 10; //Number of .ray divs in our html
$step: 360deg / $total; //Used to compute the hue based on color-wheel

@for $i from 1 through $total {
  .ray:nth-child(#{$i}) {
    background: adjust-hue(blue, $i * $step);
  }
}

div {
	margin: 15px auto;
	width: $width;
	text-align: center;
	height: $width / 6;
	line-height: $width / 6;
	border-radius: $width * 1 / 30;
	font-size: $width/6/2;
}

.math {
	background-color: $lagoon-blue;
	color: $color;
	height: $width / 6;
	line-height: $width / 6;
	border-radius: $width * 1 / 30;
	font-size: $width/6/2;
}